* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 50px;
    background-color: grey;
    padding: 5px 5px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/background.jpeg);
    background-size: 150%;
    background-repeat: no-repeat;
    color: #fff; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre linhas de texto */
    width: 100%;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    font-size: 1.5em;
}


li {
    margin: 5px 20px 10px 20px;
}

img {
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    top: 0px;
}

li {
    color: white;
}

li:hover {
    color: black;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translatex(250%);
    font: 1em;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1200px; /* Limita a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    display: grid; /* Ativa o grid layout */
    grid-template-columns: 0.7fr 1fr 1fr; /* Define 3 colunas, a primeira menor */
    grid-template-rows: auto auto auto; /* Altura automática para cada linha */
    grid-template-areas:
        "sidenav item1 item2"
        "sidenav item3 item4"
        "footer footer footer";
    gap: 20px;
    padding: 20px;
    border: 1px transparent;
}

.sidenav /*selector*/{
    grid-area/**/: sidenav;/*value*//*declaration*/
    background-color: #A34E60;
    color: #F0F4FF;
    border-radius: 20px;
    padding: 20px;
    text-wrap: wrap;
}

.foto:nth-child(1) {grid-area: item1;}
.foto:nth-child(2) {grid-area: item2;}
.foto:nth-child(3) {grid-area: item3;}
.foto:nth-child(4) {grid-area: item4;}


.foto/*selector*/ {
    grid-area: item1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A34E60;
    border-radius: 20px;
}

.foot /*selector*/ {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: footer;
    background-color: #4E4043;
    border-radius: 20px;
    padding: 20px;
}