* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 50px;
    background-color: grey;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #393434; /* Cor de fundo do site */
    color: #fff; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre linhas de texto */
    width: 100%;
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    font-size: 1.5em;
}


li {
    margin: 5px 20px 10px 20px;
}

img {
    object-fit: contain;
    height: 300px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translate(300%);
    font: 1em;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1200px; /* Limita a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    display: grid; /* Ativa o grid layout */
    grid-template-columns: 0.7fr 1fr 1fr; /* Define 3 colunas, a primeira menor */
    grid-template-rows: auto auto auto; /* Altura automática para cada linha */
    grid-template-areas:
        "sidenav item1 item2"
        "sidenav item3 item4"
        "footer footer footer"; /* Define as áreas nomeadas para cada elemento */
    gap: 20px; /* Espaçamento entre as áreas do grid */
    padding: 20px;
    border: 1px solid #fff; /* Bordas para destacar o contêiner */
}

.sidenav {
    grid-area: sidenav; /* Define a área do grid que a barra lateral ocupará */
    background-color: #1E3A8A; /* Fundo azul escuro */
    color: #F0F4FF; /* Cor do texto em azul claro */
    border-radius: 20px; /* Bordas arredondadas */
    padding: 20px;
    text-wrap: wrap;
}

.foto {
    grid-area: item1;
    background-color: #848484;
    border-radius: 20px;
    padding: 20px;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: footer;
    background-color: #1E3A8A;
    border-radius: 20px;
    padding: 20px;
}